.DS_Store
Recycle/Recycle.xcodeproj/project.xcworkspace/xcuserdata/kirtanpatel.xcuserdatad/UserInterfaceState.xcuserstate
Recycle/Recycle.xcodeproj/project.xcworkspace/xcuserdata/mainz.xcuserdatad
Recycle/Recycle.xcodeproj/xcuserdata/mainz.xcuserdatad/xcschemes
